<div style="background-color: #f5f6fa; min-height: 100vh">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Transport Workers
  </p>
  <div class="tw-first-div">
    <div class="d-flex gap-3 filtandseardiv">
      <app-button
        label="Filters"
        class="btn-secondary shadow-sm"
        icon="assets/icons/filterlines.svg"
      ></app-button>
      <div class="d-flex align-items-center shadow-sm search-div">
        <img src="assets/icons/search.svg" alt="" />
        <input type="text" placeholder="Search" class="py-2 search-input" />
      </div>
    </div>
    <app-button
      label="Add Workers"
      class="btn-primary"
      icon="assets/icons/add.svg"
    ></app-button>
  </div>
  <app-generic-table
    [tableDatas]="workers"
    [columns]="[
      { field: 'firstName', label: 'Transport Workers' },
      { field: 'category', label: 'Category' },
      { field: 'carType', label: 'Car Type' },
      { field: 'plateNumber', label: 'Plate Number' },
      { field: 'address', label: 'Address' },
      { field: 'carPark', label: 'Car Park' },
      { field: 'actions', label: '' }
    ]"
    [showCheckboxColumn]="true"
    [showSerialNumber]="false"
    [modalTemplate]="customModal"
  ></app-generic-table>
  <ng-template #customModal let-data>
    <div class="modal-tw-details">
      <h4>{{ data.name }}</h4>
      <p>Email: {{ data.email }}</p>
      <p>Category: {{ data.category }}</p>
      <p>Car Type: {{ data.carType }}</p>
      <p>Plate Number: {{ data.plateNumber }}</p>
      <p>Address: {{ data?.address }}</p>
      <p>Car Park: {{ data.carPark }}</p>
      <div><button mat-button (click)="closeModal()">Close</button></div>
    </div>
  </ng-template>
</div>
