<div style="background-color: #f5f6fa; min-height: 100vh">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Transport Workers
  </p>
  <div class="tw-first-div">
    <div class="d-flex gap-3 filtandseardiv">
      <app-button
        label="Filters"
        class="btn-secondary shadow-sm"
        icon="assets/icons/filterlines.svg"
      ></app-button>
      <div class="d-flex align-items-center shadow-sm search-div">
        <img src="assets/icons/search.svg" alt="" />
        <input type="text" placeholder="Search" class="py-2 search-input" />
      </div>
    </div>
    <app-button
      label="Add Workers"
      class="btn-primary"
      icon="assets/icons/add.svg"
    ></app-button>
  </div>
  <app-generic-table
    [tableDatas]="workers"
    [columns]="[
      { field: 'firstName', label: 'Transport Workers' },
      { field: 'gender', label: 'Gender' },
      { field: 'country', label: 'Country' },
      { field: 'licensePlate', label: 'Plate Number' },
      { field: 'residenceAddress', label: 'Address' },
      { field: 'vehicleYear', label: 'Vehicle Year' },
      { field: 'actions', label: '' }
    ]"
    [showCheckboxColumn]="true"
    [showSerialNumber]="false"
    [modalTemplate]="customModal"
  ></app-generic-table>
  <ng-template #customModal let-data>
    <div class="modal-tw-details">
      <h4>{{ data.driverId }}</h4>
      <p>Enumerator ID: {{ data.enumeratorId }}</p>
      <p>First Name: {{ data.firstName }}</p>
      <p>Last Name: {{ data.lastName }}</p>
      <p>Email: {{ data.email }}</p>
      <p>Gender: {{ data.gender }}</p>
      <p>Date of Birth: {{ data.dateOfBirth }}</p>
      <p>Address: {{ data.residenceAddress }}</p>
      <p>Phone Number: {{ data.phoneNumber }}</p>
      <p>Serial Number: {{ data.serialNumber }}</p>
      <p>Country: {{ data.country }}</p>
      <p>Vehicle Type: {{ data.vehicleManufacturer }}</p>
      <p>Vehicle Year: {{ data.vehicleYear }}</p>
      <p>Vehicle Color: {{ data.vehicleColor }}</p>
      <p>Plate Number: {{ data.licensePlate }}</p>
      <p>Driver's License: {{ data.driverLicense }}</p>
      <p>Driver Rating: {{ data.driverRating }}</p>
      <p>Number of Rating: {{ data.numberOfRatings }}</p>
      <p>Verification Code: {{ data.verificationCode }}</p>
      <p>Driver's License Verification: {{ data.driverLicenseVerified }}</p>
      <p>Driver's Plate Verification: {{ data.licensePlateVerified }}</p>
      <p>License Class: {{ data.licenseClass }}</p>
      <p>Status: {{ data.status }}</p>
      <p>Vehicle Category: {{ data.vehicleCategory }}</p>
      <p>Country ID: {{ data.countryId }}</p>
      <p>Date Created: {{ data.createdAt }}</p>
      <p>Last Updated: {{ data.updatedAt }}</p>
      <div><button mat-button (click)="closeModal()">Close</button></div>
    </div>
  </ng-template>
</div>
