<div class="admin-first-div">
  <div class="d-flex gap-3 filtandseardiv">
    <app-button-with-loader [classText]="'btn btn-custom bg-light text-black shadow-sm'" [idleStateText]="'Filters'"
      [svgIcon]="'assets/icons/filterlines.svg'" [buttonType]="'button'"></app-button-with-loader>
    <div class="d-flex align-items-center shadow-sm search-div">
      <img src="assets/icons/search.svg" alt="" />
      <input type="text" placeholder="Search" class="py-2 search-input" />
    </div>
  </div>
  <div class="d-flex gap-3">
    <app-button-with-loader [classText]="'btn btn-primary'" [svgIcon]="'assets/icons/download.svg'"
      [buttonType]="'button'" [idleStateText]="'Export'"></app-button-with-loader>
    <app-button-with-loader [classText]="'btn btn-custom'" [svgIcon]="'assets/icons/add.svg'" [buttonType]="'button'"
      [idleStateText]="'Add Admin'" [routeLink]="'/management/admin/create-admin'"></app-button-with-loader>
  </div>
</div>
<app-generic-table [tableDatas]="admins" [columns]="[
    { field: 'firstName', label: 'Name of Admin' },
    { field: 'email', label: 'Email' },
    { field: 'role', label: 'Role' },
    { field: 'actions', label: '' }
  ]" [showCheckboxColumn]="true" (rowClick)="onAdminClick($event)" [showSerialNumber]="false"></app-generic-table>