<div class="admin-first-div">
  <div class="d-flex gap-3 filtandseardiv">
    <app-button-with-loader
      [classText]="'btn btn-custom bg-light text-black shadow-sm'"
      [idleStateText]="'Filters'"
      [svgIcon]="'assets/icons/filterlines.svg'"
      [buttonType]="'button'"
    ></app-button-with-loader>
    <div class="d-flex align-items-center shadow-sm search-div">
      <img src="assets/icons/search.svg" alt="" />
      <input type="text" placeholder="Search" class="py-2 search-input" />
    </div>
  </div>
  <div class="d-flex gap-3">
    <app-button-with-loader
      [classText]="'btn btn-custom bg-light'"
      [svgIcon]="'assets/icons/download.svg'"
      [buttonType]="'button'"
      [idleStateText]="'Download'"
    ></app-button-with-loader>
    <app-button-with-loader
      [classText]="'btn btn-custom'"
      [svgIcon]="'assets/icons/add.svg'"
      [buttonType]="'button'"
      [idleStateText]="'Add Workers'"
    ></app-button-with-loader>
  </div>
</div>
<app-generic-table
  [tableDatas]="admins"
  [columns]="[
    { field: 'firstName', label: 'Name of Admin' },
    { field: 'email', label: 'Email' },
    { field: 'role', label: 'Role' },
    { field: 'actions', label: '' }
  ]"
  [showCheckboxColumn]="true"
  [routeLink]="'/management/admin/admin-detail'"
  [showSerialNumber]="false"
></app-generic-table>
<ng-template #customModal let-data>
  <div class="modal-tw-details">
    <h4>{{ data.adminId }}</h4>
    <p>First Name: {{ data.firstName }}</p>
    <p>Last Name: {{ data.lastName }}</p>
    <p>Email: {{ data.email }}</p>
    <p>Role: {{ data.role }}</p>
    <p>Active: {{ data.isActive }}</p>
    <p>Created Date: {{ data.createdAt }}</p>
    <p>Last Updated Date: {{ data.updatedAt }}</p>
    <div><button mat-button (click)="closeModal()">Close</button></div>
  </div>
</ng-template>
