button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-img {
  width: 25px;
  height: 25px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.btn-primary {
  background-color: #053688;
  padding: 0.6rem 2rem;
  color: white;
}

.btn-primary:hover {
  background-color: #c0d3f3;
}

.btn-secondary {
  background-color: #ffffff;
  border: none;
  color: #344054;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 9px;
  width: 100px;
  height: 45px;
}

.btn-extra {
  border: solid 1px #053688;
  background: transparent;
  padding: 0.5rem 2rem;
  color: #053688;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
