.forgot-password-cont {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-password-form {
  padding: 2rem;
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.forgot-password-labels {
  margin-bottom: 6px;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
}
.forgot-password-inputs {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none !important;
  width: 20rem;
}
