<div class="big-admin-form-cont d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-center">
    <a
      class="back"
      aria-current="page"
      [routerLink]="
        isUpdate
          ? '/management/admin/admin-detail'
          : '/management/admin/admins-list'
      "
      routerLinkActive="active"
    >
      Back
    </a>
    <app-button-with-loader
      [classText]="'btn btn-custom'"
      [buttonType]="'submit'"
      [idleStateText]="'Print'"
      [svgIcon]="'assets/icons/print.svg'"
    ></app-button-with-loader>
  </div>
  <div style="border: 4px #e6ebf2; position: relative">
    <img src="" alt="" class="image-cont" />
    <img
      src="assets/icons/edit.svg"
      alt=""
      class=""
      style="position: absolute"
    />
  </div>

  <div class="admin-form-container">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="first-div">
        <div class="form-group">
          <label for="title">Title</label>
          <select formControlName="title" id="title" class="form-control">
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
            <option value="Dr">Dr</option>
          </select>
        </div>

        <div class="form-group">
          <label for="name">Name of User</label>
          <input
            type="text"
            formControlName="name"
            id="name"
            class="form-control"
            placeholder="Name is name"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            placeholder="example@example.com"
          />
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="text"
            formControlName="phoneNumber"
            id="phoneNumber"
            class="form-control"
            placeholder="2348199999003"
          />
        </div>

        <div class="form-group">
          <label for="role">Role</label>
          <select formControlName="role" id="role" class="form-control">
            <option value="Admin">Admin</option>
          </select>
        </div>
      </div>

      <div class="form-group accessLevels-div">
        <p>Access Levels</p>
        <div formGroupName="accessLevels">
          <div class="accessLevels-form">
            <div class="">
              <label for="dashboard">Dashboard</label>
              <select
                formControlName="dashboard"
                id="dashboard"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="analytics">Analytics</label>
              <select
                formControlName="analytics"
                id="analytics"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="enumerator">Enumerator</label>
              <select
                formControlName="enumerator"
                id="enumerator"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="report">Report</label>
              <select formControlName="report" id="report" class="form-control">
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="taxpayers">Taxpayers</label>
              <select
                formControlName="taxpayers"
                id="taxpayers"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="adminLists">Admins List</label>
              <select
                formControlName="adminLists"
                id="adminLists"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="auditLog">Audit Log</label>
              <select
                formControlName="auditLog"
                id="auditLog"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
            <div class="">
              <label for="eServices">E-services</label>
              <select
                formControlName="eServices"
                id="eServices"
                class="form-control"
              >
                <option value="Full access">Full access</option>
                <option value="No access">No access</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-center mt-5">
        <app-button-with-loader
          [classText]="'btn btn-custom px-5 block'"
          [buttonType]="'submit'"
          [workingStateText]="
            isUpdate ? 'Updating Admin...' : 'Creating Admin...'
          "
          [idleStateText]="isUpdate ? 'Update Admin' : 'Create Admin'"
          [routeLink]="
            isUpdate
              ? '/management/admin/update-admin'
              : '/management/admin/create-admin'
          "
        ></app-button-with-loader>
      </div>
    </form>
  </div>
</div>
