<div class="card">
  <div class="card-content">
    <div class="card-content-words">
      <div class="card-title">{{ title }}</div>
      <div class="card-value">{{ value }}</div>
    </div>
    <div class="">
      <img *ngIf="iconUrl" [src]="iconUrl" alt="icon" />
    </div>
  </div>

  <div class="card-trend">
    <img *ngIf="iconUrlTwo" [src]="iconUrlTwo" alt="icon" />
    <span class="trend-value" [ngClass]="{ green: trendColor === 'green', red: trendColor === 'red' }">{{ trend
      }}</span>
    <span class="trend-text">{{ trendText }}</span>
  </div>
</div>