.auditlog-modal-details {
    padding: 14px;
    width: 500px;
  }
  .auditlog-modal-details div {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 32px;
  }
  .auditlog-modal-details div h4 {
    color: #282828;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }
  .auditlog-modal-details div button {
    position: absolute;
    right: 8px;
    top: 12px;
    background: transparent;
    color: #1e1e1e;
    border: none;
  }
  .auditlog-modal-details p {
    color: #7d8497;
    font-weight: 500;
    font-size: 16px;
  }
  .auditlog-modal-details span {
    color: #101828;
    font-size: 14px;
  }
  
  