.profile-inputs-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1.5rem; /* Gap between grid items */
}
.profile-inputs-cont div {
  display: flex;
  flex-direction: column;
}
.profile-labels {
  margin-bottom: 6px;
  color: #232323;
}
.profile-inputs {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none !important;
  width: 100%;
}
.round-it {
  width: 180px;
  height: 170px;
  border-radius: 50%;
  background-color: blue;
}
@media (max-width: 820px) {
  .profile-inputs-cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .prof-flex {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .prof-con {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  .round-it {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: blue;
  }
  .prof-btn-con {
    justify-content: center !important;
    margin-top: 40px !important;
  }
  .round-div-par {
    display: flex;
    justify-content: center;
  }
}

.edit-btn {
  width: 100px;
  border: none;
  margin-right: 20px;
  border-radius: 10px;
  background: black;
  color: white;
}
.edit-btn:hover {
  background: #1e1e1e;
  transition: all;
  transition-duration: revert;
}
.edit-btn:focus{
  background: #1e1e1e;
}
