.profile-inputs-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1.5rem; /* Gap between grid items */
}
.custom-round {
  border-radius: 14px;
}
.profile-inputs-cont div {
  display: flex;
  flex-direction: column;
}
.profile-labels {
  margin-bottom: 6px; /* Margin below labels */
  color: #232323;
}
.profile-inputs {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  width: 100%; /* Full width input */
}
.round-it {
  width: 200px;
  height: 160px;
  border-radius: 50%;
  background-color: blue;
}
