<div class="p-4 prof-con">
  <div class="d-flex gap-5 prof-flex">
    <div class="relative round-div-par">
      <div class="round-it">
        <div class="absolute"></div>
      </div>
    </div>
    <form [formGroup]="userProfileFrom" (ngSubmit)="onSubmit()" >
      <div class="profile-inputs-cont w-100">
        <div class="">
          <label for="firstName" class="d-block profile-labels">First Name</label>
          <input formControlName ="firstName" id="firstName" type="text" placeholder="John " class="profile-inputs" />
        </div>
        <div class="">
          <label for="LastName" class="d-block profile-labels">Last Name</label>
          <input formControlName ="lastName" id="lastName" type="text" placeholder="Doe" class="profile-inputs" />
        </div>
        <div class="">
          <label for="email" class="d-block profile-labels">Email</label>
          <input
            type="email"
            placeholder="johndoe@gmail.com"
            id="email"
            class="profile-inputs"
            formControlName="email"
          />
        </div>
        <div class="">
          <label for="password" class="d-block profile-labels">Password</label>
          <input
            type="password"
            placeholder="**********"
            class="profile-inputs"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="">
          <label for="image" class="d-block profile-labels">Image</label>
          <input type="file"  class="profile-inputs" id="image"
          formControlName="image"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end gap-8 mt-5 prof-btn-con">
    <button type="button" (click)="toggleEdit()" class="btn-primary edit-btn">{{ isEditing ? 'Cancel' : 'Edit' }}</button>
    <app-button type="submit" label="Save" class="btn-primary mr-8" [disabled]="!isEditing" (click)="onSubmit()" ></app-button>
  </div>
</div>
