<div>
  <div>Profile picture div</div>
  <div class="d-grid">
    <div>
      <label for="name" class="block">Full Name</label>
      <input type="text" placeholder="John Doe" class="profile-inputs" />
    </div>
    <div>
      <label for="username" class="block">Username</label>
      <input type="text" placeholder="JohnDoe" class="profile-inputs" />
    </div>
    <div>
      <label for="email" class="block">Email</label>
      <input
        type="email"
        placeholder="johndoe@gmail.com"
        class="profile-inputs"
      />
    </div>
    <div>
      <label for="email" class="block">Password</label>
      <input type="password" placeholder="**********" class="profile-inputs" />
    </div>
    <div>
      <label for="date" class="block">Date of Birth</label>
      <input type="date" placeholder="" class="profile-inputs" />
    </div>
    <div>
      <label for="present-address" class="block">Present Address</label>
      <input
        type="text"
        placeholder="Maryland crescent, Ikeja, Lagos."
        class="profile-inputs"
      />
    </div>
    <div>
      <label for="permanent-address" class="block">Permanent Address</label>
      <input
        type="text"
        placeholder="Gwagwalada, Abuja"
        class="profile-inputs"
      />
    </div>
    <div>
      <label for="city" class="block">City</label>
      <input type="text" placeholder="Abuja" class="profile-inputs" />
    </div>
    <div>
      <label for="postal-code" class="block">Postal Code</label>
      <input type="text" placeholder="11011" class="profile-inputs" />
    </div>
  </div>
</div>
