<div class="shadow-lg p-4 custom-round">
  <!-- <app-settings-nav></app-settings-nav> -->
  <div class="d-flex gap-5">
    <div class="relative round-it">
      <div class="absolute"></div>
    </div>
    <div class="profile-inputs-cont w-100">
      <div class="">
        <label for="name" class="d-block profile-labels">Full Name</label>
        <input type="text" placeholder="John Doe" class="profile-inputs" />
      </div>
      <div class="">
        <label for="username" class="d-block profile-labels">Username</label>
        <input type="text" placeholder="JohnDoe" class="profile-inputs" />
      </div>
      <div class="">
        <label for="email" class="d-block profile-labels">Email</label>
        <input
          type="email"
          placeholder="johndoe@gmail.com"
          class="profile-inputs"
        />
      </div>
      <div class="">
        <label for="email" class="d-block profile-labels">Password</label>
        <input
          type="password"
          placeholder="**********"
          class="profile-inputs"
        />
      </div>
      <div class="">
        <label for="date" class="d-block profile-labels">Date of Birth</label>
        <input type="date" placeholder="" class="profile-inputs" />
      </div>
      <div class="">
        <label for="present-address" class="d-block profile-labels"
          >Present Address</label
        >
        <input
          type="text"
          placeholder="Maryland crescent, Ikeja, Lagos."
          class="profile-inputs"
        />
      </div>
      <div class="">
        <label for="permanent-address" class="d-block profile-labels"
          >Permanent Address</label
        >
        <input
          type="text"
          placeholder="Gwagwalada, Abuja"
          class="profile-inputs"
        />
      </div>
      <div class="">
        <label for="city" class="d-block profile-labels">City</label>
        <input type="text" placeholder="Abuja" class="profile-inputs" />
      </div>
      <div class="">
        <label for="postal-code" class="d-block profile-labels"
          >Postal Code</label
        >
        <input type="text" placeholder="11011" class="profile-inputs" />
      </div>
      <div class="">
        <label for="postal-code" class="d-block profile-labels">Country</label>
        <input type="text" placeholder="Sri Lanka" class="profile-inputs" />
      </div>
    </div>
  </div>
</div>
