/* Optional custom styles */
.nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #fff;
}

.rounded-circle {
  object-fit: cover; /* Ensures the image covers the area */
}

.reset-password-section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

.position-relative {
  /* Make the parent element positioned relative so the button can be positioned absolutely within it */
  position: relative;
  display: inline-block; /* Change the display to allow for text-center to align it */
}

.btn-edit-icon {
  border: none; /* Remove border if not needed */
  background: none; /* Remove background if you want a transparent button */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  cursor: pointer; /* Change cursor to pointer on hover */

  /* Position the button at the bottom-right corner of the image */
  position: absolute;
  bottom: -10px; /* Adjust the position to place it correctly */
  right: -10px; /* Adjust the position to place it correctly */
  /*background-color: #yourColor; !* Background color of the circle *!*/
  border-radius: 50%; /* Make it round */
  padding: 10px; /* Padding to make the circle larger */
}

.btn-edit-icon img {
  display: block; /* Ensure the SVG scales correctly */
  width: 40px; /* Adjust size accordingly */
  height: 40px; /* Adjust size accordingly */
}
