<div style="background-color: #f5f6fa">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Dashboard
  </p>

  <div class="dashboard-first-div">
    <app-dashboard-card
      title="Public Transport Workers"
      value="40,689"
      trend="8.5%"
      trendText="Up from yesterday"
      iconUrl="assets/icons/ptw.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Active Enumerators"
      value="2040"
      trend="1.3%"
      trendText="Up from past week"
      iconUrl="assets/icons/actenu.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Newly Registered"
      value="193"
      trend="1.3%"
      trendText="Up from past week"
      iconUrl="assets/icons/newreg.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Total Tax generated"
      value="#30,244.00"
      trend="4.3%"
      trendText="Down from yesterday"
      trendColor="red"
      iconUrl="assets/icons/ttg.svg"
      iconUrlTwo="assets/icons/slopedown.svg"
    >
    </app-dashboard-card>
  </div>
  <div class="dashboard-second-div mt-5">
    <app-dashboard-card-two
      title="Transport Workers"
      [timeFrames]="['This Week', 'Last Week', 'This Month', 'Last Month']"
    >
    </app-dashboard-card-two>
    <app-dashboard-card-two
      title="Total Tax Generated"
      [timeFrames]="['This Week', 'Last Week', 'This Month', 'Last Month']"
    >
    </app-dashboard-card-two>
  </div>
</div>
