<div style="background-color: #f5f6fa">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Dashboard
  </p>

  <div class="dashboard-first-div">
    <app-dashboard-card
      class="dashboard-first-div-card"
      title="Public Transport Workers"
      value="40,689"
      trend="8.5%"
      trendText="Up from yesterday"
      iconUrl="assets/icons/ptw.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="dashboard-first-div-card"
      title="Active Enumerators"
      value="2040"
      trend="1.3%"
      trendText="Up from past week"
      iconUrl="assets/icons/actenu.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="dashboard-first-div-card"
      title="Newly Registered"
      value="193"
      trend="1.3%"
      trendText="Up from past week"
      iconUrl="assets/icons/newreg.svg"
      iconUrlTwo="assets/icons/slopeup.svg"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="dashboard-first-div-card"
      title="Total Tax generated"
      value="#30,244.00"
      trend="4.3%"
      trendText="Down from yesterday"
      trendColor="red"
      iconUrl="assets/icons/ttg.svg"
      iconUrlTwo="assets/icons/slopedown.svg"
    >
    </app-dashboard-card>
  </div>
  <div class="dashboard-second-div mt-5">
    <app-dashboard-card-two
      class="dashboard-second-div-card-one"
      title="Transport Workers"
      [timeFrames]="['This Week', 'Last Week', 'This Month', 'Last Month']"
    >
      <app-circular-progress-chart
        [data]="transportWorkersChartData"
        [size]="218"
        [strokeWidth]="5"
      ></app-circular-progress-chart>
    </app-dashboard-card-two>
    <app-dashboard-card-two
      class="dashboard-second-div-card-two"
      title="Total Tax Generated"
      [timeFrames]="['This Week', 'Last Week', 'This Month', 'Last Month']"
      ><app-bar-chart [data]="barChartData"></app-bar-chart>
    </app-dashboard-card-two>
  </div>

  <div class="dashboard-third-div mt-5">
    <app-register-card class="dashboard-third-div-card"></app-register-card>
    <app-dashboard-card-two
      class="dashboard-third-div-card"
      title="Your Pie Chart"
      [timeFrames]="['Monthly', 'Weekly', 'Daily']"
    >
      <app-pie-chart [data]="pieChartData"></app-pie-chart>
    </app-dashboard-card-two>
    <app-enumerator-list-card
      class="dashboard-third-div-card"
    ></app-enumerator-list-card>
  </div>
</div>
