<div style="background-color: #f5f6fa">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Dashboard
  </p>
  <div class="dashboard-first-div">
    <app-dashboard-card
      title="Public Transport Workers"
      value="40,689"
      trend="8.5%"
      trendText="Up from yesterday"
      icon="icon-placeholder"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Active Enumerators"
      value="2040"
      trend="1.3%"
      trendText="Up from past week"
      icon="icon-placeholder"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Newly Registered"
      value="193"
      trend="1.3%"
      trendText="Up from past week"
      icon="icon-placeholder"
    >
    </app-dashboard-card>
    <app-dashboard-card
      title="Total Tax generated"
      value="#30,244.00"
      trend="4.3%"
      trendText="Down from yesterday"
      icon="icon-placeholder"
    >
    </app-dashboard-card>
  </div>
</div>
