.dashboard-first-div {
  display: flex;
  gap: 18px;
}
.dashboard-second-div {
  display: flex;
  gap: 27px;
}
.dashboard-third-div {
  display: flex;
  gap: 16px;
}
.dashboard-first-div-card {
  width: 25%;
}
.dashboard-third-div-card {
  flex: 1;
}
.dashboard-second-div-card-one {
  width: 40%;
}
.dashboard-second-div-card-two {
  width: 60%;
}
@media (max-width: 820px) {
  .dashboard-first-div {
    flex-direction: column;
    gap: 8px;
  }
  .dashboard-second-div {
    display: flex;
    gap: 27px;
  }
  .dashboard-third-div {
    display: flex;
    gap: 16px;
  }
  .dashboard-first-div-card {
    width: 100%;
  }
  .dashboard-third-div {
    flex-direction: column;
    gap: 6px;
  }
  .dashboard-second-div {
    flex-direction: column;
    gap: 8px;
  }
  .dashboard-second-div-card-one {
    width: 100% !important;
  }
  .dashboard-second-div-card-two {
    width: 100% !important;
  }
}
