<div class="shadow-lg p-4 custom-round">
  <div class="authentication-div">
    <h4>Two Factor Authentication</h4>
    <div>
      icon
      <p style="color: #232323">Enable or disable two factor authentication</p>
    </div>
  </div>
  <div class="password-chg">
    <h4>Change Password</h4>
    <div>
      <label for="current-password" class="block">Current Password</label>
      <input type="password" placeholder="********" class="security-inputs" />
    </div>
    <div>
      <label for="new-password" class="block">New Password</label>
      <input type="password" placeholder="********" class="security-inputs" />
    </div>
  </div>
</div>
