.password-chg h4 {
  color: #333b69;
}
.password-chg div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-bottom: 16px;
}
.password-chg div label {
  color: #232323;
  font-size: 19px;
}
.password-chg div input {
  color: #232323;
}
.security-inputs {
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none;
}
.authentication-div div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.authentication-div h4 {
  color: #333b69;
}
@media (max-width: 820px) {
  .password-chg div {
    gap: 5px !important;
    width: 100%;
    margin-bottom: 10px;
  }
  .authentication-div div {
    display: flex;
    align-items: center;
    gap: 2px !important;
  }
  .sec-cont {
    padding: 12px !important;
  }
  .sec-btn-con {
    margin-top: 40px !important;
    justify-content: center !important;
  }
}
