.preferences-select {
  padding: 14px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  width: 550px;
  outline: none;
}
.pref-label {
  color: #232323;
  font-size: 20px;
}
.icon-div {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 820px) {
  .pref-fir-div {
    display: flex;
    flex-direction: column;
    gap: 6px !important;
  }
  .preferences-select {
    width: 100%;
  }
  .pref-btn-con {
    margin-top: 14px !important;
    display: flex;
    justify-content: center !important;
  }
}
