<div class="p-4 d-flex flex-column gap-4">
  <div class="d-flex gap-5 pref-fir-div">
    <div>
      <label for="currency" class="d-block mb-2 pref-label">Currency</label>
      <select name="" class="preferences-select">
        <option>NGN</option>
        <option>GBP</option>
        <option>USD</option>
        <option>CND</option>
      </select>
    </div>
    <div>
      <label for="currency" class="d-block mb-2 pref-label">Time Zone</label>
      <select name="time-zone" class="preferences-select">
        <option>(GMT-12:00) West Africa</option>
        <option>GBP</option>
        <option>USD</option>
        <option>CND</option>
      </select>
    </div>
  </div>
  <div class="">
    <h5 style="color: #333b69">Notification</h5>
    <div class="not-items-div">
      <div class="icon-div">
        <app-notification-toggle></app-notification-toggle>
        <p style="color: #232323">Lorem ipsum</p>
      </div>
      <div class="icon-div">
        <app-notification-toggle></app-notification-toggle>
        <p style="color: #232323">Lorem ipsum sit amet</p>
      </div>
      <div class="icon-div">
        <app-notification-toggle></app-notification-toggle>
        <p style="color: #232323">Placeholder text</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-5 pref-btn-con">
    <app-button label="Save" class="btn-primary"></app-button>
  </div>
</div>
