.password-container {
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #053688;
  color: #ffffff;
  border: #e0e0e0 solid 1px;
  padding: 10px 40px;
}
.header img {
  width: 48px;
  height: 53px;
}
.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
}
.form-group {
  display: flex;
  text-wrap: nowrap;
  gap: 12px;
  margin-bottom: 2rem;
}
label {
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  width: 204px;
  text-align: end;
}
input {
  width: 549px;
}
.password-guidelines li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: #202224;
}
.button-div {
  display: flex;
  justify-content: end;
  flex-basis: auto;
  padding: 0.8rem 2.2rem;
  border-top: #565656 1px solid;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 820px) {
  .header {
    gap: 1rem;
    background-color: #053688;
    color: #ffffff;
    border: #e0e0e0 solid 1px;
    padding: 10px 40px;
  }
  .header img {
    width: 40px;
    height: 45px;
  }
  .header h2 {
    font-size: 1rem;
  }
  .form-group {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
  label {
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
    text-align: start;
  }
  .password-guidelines li {
    font-size: 0.5rem;
  }
}
