<div class="password-container" style="display: flex; flex-direction: column">
  <div class="header">
    <img src="assets/icons/protection.svg" alt="" />
    <h2>Create Your Password</h2>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="my-auto">
    <div class="form-div">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && passwordForm.controls['password'].errors
          }"
        />
        <div
          *ngIf="submitted && passwordForm.controls['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="passwordForm.controls['password'].errors['required']">
            Password is required
          </div>
          <div *ngIf="passwordForm.controls['password'].errors['minlength']">
            Password must be at least 8 characters long
          </div>
          <div *ngIf="passwordForm.controls['password'].errors['lowercase']">
            Password must include at least one lowercase letter (a-z)
          </div>
          <div *ngIf="passwordForm.controls['password'].errors['numeric']">
            Password must include at least one numeric digit (0-9)
          </div>
          <div
            *ngIf="passwordForm.controls['password'].errors['specialCharacter']"
          >
            Password must include at least one special character (e.g., &#64;,
            #, $, %, etc.)
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && passwordForm.controls['confirmPassword'].errors
          }"
        />
        <div
          *ngIf="submitted && passwordForm.controls['confirmPassword'].errors"
          class="invalid-feedback"
        >
          <div
            *ngIf="passwordForm.controls['confirmPassword'].errors['required']"
          >
            Confirm password is required
          </div>
          <div
            *ngIf="passwordForm.controls['confirmPassword'].errors['mismatch']"
          >
            Passwords do not match
          </div>
        </div>
      </div>

      <ul class="password-guidelines" style="list-style-type: none">
        <li>
          <img src="assets/icons/passguide.svg" alt="" />Your password must be
          at least 8 characters long
        </li>
        <li>
          <img src="assets/icons/passguide.svg" alt="" />Your password must
          include at least one lowercase letter (a-z)
        </li>
        <li>
          <img src="assets/icons/passguide.svg" alt="" />Your password must
          include at least one numeric digit (0-9)
        </li>
        <li>
          <img src="assets/icons/passguide.svg" alt="" />Avoid using common
          words or easily guessable sequences
        </li>
        <li>
          <img src="assets/icons/passguide.svg" alt="" />
          Your password must include at least one special character (e.g.,
          &#64;, #, $, %, etc.)
        </li>
      </ul>
    </div>

    <!-- <div class="button-div">
      <app-button-with-loader
        [idleStateText]="'Create'"
        [workingStateText]="'Creating...'"
        [classText]="'btn btn-custom'"
        [buttonType]="'submit'"
      ></app-button-with-loader>
    </div> -->
  </form>
  <div class="button-div">
    <app-button-with-loader
      [idleStateText]="'Create'"
      [workingStateText]="'Creating...'"
      [classText]="'btn btn-custom px-5'"
      [buttonType]="'submit'"
      (buttonClick)="onSubmit()"
    ></app-button-with-loader>
  </div>
</div>
