.password-container {
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #053688;
  color: #ffffff;
  border: #e0e0e0 solid 1px;
  padding: 10px 40px;
}
.header img {
  width: 48px;
  height: 53px;
}
