.nav-link {
  color: #202224; /* Color of the text */
  display: flex;
  width: 100%;
  padding: 10px 15px;
  align-items: center; /* Ensures vertical centering of text and icon */
  /*padding: 0.5rem 1rem; !* Adjust padding as needed *!*/
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Keeps the text from overflowing the container */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}

.nav-link:hover {
  color: white; /* Slight background on hover, choose color that matches your UI */
}

.nav-link.active {
  background-color: #e9ecef; /* Active state background, choose color that matches your UI */
  border-radius: 0.25rem; /* Optional: rounded corners for the active link */
}
.icon {
  object-fit: contain;
  width: 20px; /* Or the size of your icons */
  margin-right: 8px; /* Adjust the space between your icon and text */
  vertical-align: middle; /* Aligns the icon with the text */
}
.nav-item {
  background-color: #053688;
}
