.mynav {
  color: #202224;
}
.nav-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
.mynav li a {
  color: #202224;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li a.active {
  background: #053688;
  color: #ffffff;
}
.mynav li a:hover {
  background: #c0d3f3;
}
.mynav li a i {
  width: 25px;
  text-align: center;
}
.nav-items-below {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 5px;
}
.nav-links-below {
  list-style-type: none;
  text-align: center;
}
.nav-links-below a {
  border-radius: 5px;
  padding: 8px 5px;
  width: 100%;
  text-align: center;
}
.nav-links-below a:hover {
  background: #c0d3f3;
}
.nav-items-below li a.active {
  background: #053688 !important;
  color: #ffffff !important;
}

#bdSidebar.offcanvas-start {
  width: 240px;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media (max-width: 820px) {
  #bdSidebar.offcanvas-start {
    max-width: 220px;
  }
}
