<!--<div id="preloader">-->
<!--  <div class="d-flex vh-100 justify-content-center align-items-center flex-column">-->
<!--    <div data-loader="circle-side"></div>-->
<!--    <div *ngIf="customText" class="text-capitalize fw-light fs-14 mt-1">-->
<!--      {{ customText }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div>
  <div class="d-flex vh-100 justify-content-center flex-column">
    <progress-bar-loader
    [customText]="customText">
    </progress-bar-loader>
<!--    <div>-->
<!--      <div style="justify-content: center; display: flex">-->
<!--        <progressbar class="progress active"-->
<!--                     style="height: 4px;-->
<!--                   max-width: 200px;"-->
<!--                     [value]="progress"-->
<!--                     [animate]="true"-->
<!--        ></progressbar>-->
<!--      </div>-->
<!--      <div *ngIf="customText" class="text-capitalize fw-light fs-14 mt-1 align-self-center justify-content-center">-->
<!--        {{ customText }}-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>


