.audit-cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.audit-div-one {
  display: flex;
  gap: 12px;
}
.div-one-card {
  flex: 1;
}
.audit-search-div {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  gap: 3px;
  padding: 0px 14px;
  width: 324px;
  height: 45px;
}
.audit-search-input {
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 820px) {
  .audit-div-one {
    gap: 6px;
    flex-direction: column;
  }
  .audit {
    text-align: center;
  }
  .audit-div-two {
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  .audit-div-two-inner {
    flex-direction: column;
    line-height: 2px;
  }
  .audit-search-div {
    width: 240px;
  }
  .audit-search-input {
    flex: 1;
  }
}
