.audit-cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.audit-div-one {
  display: flex;
  gap: 12px;
}
.div-one-card {
  flex: 1;
}
.audit-search-div {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  gap: 3px;
  padding: 0px 14px;
  width: 324px;
  height: 45px;
}
.audit-search-input {
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
}
.auditlog-modal-details {
  padding: 14px;
  width: 500px;
}
.auditlog-modal-details div {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 32px;
}
.auditlog-modal-details div h4 {
  color: #282828;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.auditlog-modal-details div button {
  position: absolute;
  right: 8px;
  top: 12px;
  background: transparent;
  color: #1e1e1e;
  border: none;
}
.auditlog-modal-details p {
  color: #7d8497;
  font-weight: 500;
  font-size: 16px;
}
.auditlog-modal-details span {
  color: #101828;
  font-size: 14px;
}
@media (max-width: 820px) {
  .audit-div-one {
    gap: 6px;
    flex-direction: column;
  }
  .audit {
    text-align: center;
  }
  .audit-div-two {
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }
  .audit-div-two-inner {
    flex-direction: column;
    line-height: 2px;
  }
  .audit-search-div {
    width: 240px;
  }
  .audit-search-input {
    flex: 1;
  }
}
