<p class="audit" style="color: #202224; font-weight: 700; font-size: 32px">
  Audit Logs
</p>
<div style="background-color: #f5f6fa" class="audit-cont">
  <div class="audit-div-one">
    <app-audit-log-card class="div-one-card"></app-audit-log-card
    ><app-audit-log-card
      class="div-one-card"
      title="Total User Logins by Date"
    ></app-audit-log-card
    ><app-audit-log-card
      class="div-one-card"
      title="Total System Errors Incurred by Date"
    ></app-audit-log-card>
  </div>
  <div class="audit-div-two d-flex justify-content-between align-items-center">
    <div class="d-flex gap-3 align-items-center audit-div-two-inner">
      <p style="color: #151515; font-size: 24px; font-weight: 500">
        Activities
      </p>
      <div class="d-flex gap-3 align-items-center audit-filtandseardiv">
        <app-button
          label="Filters"
          class="btn-secondary"
          icon="assets/icons/filterlines.svg"
          (click)="openFilterDialog()"
        ></app-button>
        <div class="d-flex align-items-center shadow-sm audit-search-div">
          <img src="assets/icons/search.svg" alt="" />
          <input
            type="text"
            placeholder="Search"
            class="py-2 audit-search-input"
          />
        </div>
      </div>
    </div>
    <app-button
      label="Download"
      class="btn-extra"
      icon="assets/icons/download.svg"
    ></app-button>
  </div>
  <div class="audit-div-three">
    <app-generic-table
      [tableDatas]="auditLogs"
      [columns]="[
        { field: 'time', label: 'Time' },
        { field: 'username', label: 'User Name' },
        { field: 'role', label: 'Role' },
        { field: 'activityType', label: 'Activty Type' },
        { field: 'details', label: 'Details' },
        { field: 'actions', label: '' }
      ]"
      [modalTemplate]="customModal"
    ></app-generic-table>
    <ng-template #customModal let-data>
      <div class="auditlog-modal-details">
        <div>
          <h4>Activity</h4>
          <button mat-button (click)="closeModal()">X</button>
        </div>
        <p>
          Event Type: <span>{{ data.activityType }}</span>
        </p>
        <p>
          TimeStamp: <span>{{ data.time }}</span>
        </p>
        <p>
          User Name: <span>{{ data.username }}</span>
        </p>
        <p>
          Role: <span>{{ data.role }}</span>
        </p>
        <p>
          Session ID: <span>{{ data.ssesion_id }}</span>
        </p>
        <p>
          IP Address: <span>{{ data.ip_address }}</span>
        </p>
        <p>
          Duration: <span>{{ data.duration }}</span>
        </p>
        <p>
          Details: <span>{{ data.details }}</span>
        </p>
      </div>
    </ng-template>
  </div>
</div>
