<p style="color: #202224; font-weight: 700; font-size: 32px">Management</p>
<div style="background-color: #f5f6fa">
  <div>
    <div>
      <div>
        <p style="color: #7a7a7a; font-size: 15px">Edit Avatar</p>
        <img
          src="assets/images/avatar.svg"
          width="106"
          height="33"
          style="width: 154px; height: 164px"
        />
      </div>
      <div></div>
    </div>
    <div>Details div</div>
  </div>
  <div>
    <div class="mt-5 inputs-cont">
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Last Name</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="Last name"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">First Name</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="First name"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Date of Birth</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="Date of Birth"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">ID</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="NIN"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Gender</label>
        <select name="" class="shadow-sm user-inputs" style="color: #c4c4c4">
          <option>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
          <option>Others</option>
        </select>
      </div>
    </div>
    <div class="d-flex gap-3 textarea-div">
      <label for="park" class="user-comp-label">Park</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="3"
        class="resize-none shadow-sm"
        placeholder="Park name"
      ></textarea>
    </div>
  </div>
</div>
