<div>
  <div>
    <div>avatar div</div>
    <div>Details div</div>
  </div>
  <div>
    <div class="mt-5 inputs-cont">
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Last Name</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="Last name"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">First Name</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="First name"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Date of Birth</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="Date of Birth"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">ID</label>
        <input
          name=""
          class="shadow-sm user-inputs"
          placeholder="NIN"
          required
        />
      </div>
      <div class="d-flex gap-3">
        <label for="last-name" class="user-comp-label">Gender</label>
        <select name="" class="shadow-sm user-inputs" style="color: #c4c4c4">
          <option>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
          <option>Others</option>
        </select>
      </div>
    </div>
    <div class="d-flex gap-3 textarea-div">
      <label for="park" class="user-comp-label">Park</label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="3"
        class="resize-none shadow-sm"
        placeholder="Park name"
      ></textarea>
    </div>
  </div>
</div>
