<div class="admin-adder-div">
  <p style="color: #202224; font-weight: 500; font-size: 24px" class="">
    Admins
  </p>
  <app-button
    label="Add Admin"
    class="btn-primary"
    icon="assets/icons/add.svg"
    routerLink="/add-user"
  ></app-button>
</div>
<app-generic-table
  [tableDatas]="admins"
  [columns]="[
    { field: 'name', label: 'Transport Workers' },
    { field: 'category', label: 'Category' },
    { field: 'carType', label: 'Car Type' },
    { field: 'plateNumber', label: 'Plate Number' },
    { field: 'address', label: 'Address' },
    { field: 'carPark', label: 'Car Park' },
    { field: 'actions', label: '' }
  ]"
  [modalTemplate]="customModal"
></app-generic-table>
<ng-template #customModal let-data>
  <div class="modal-tw-details">
    <h4>{{ data.name }}</h4>
    <p>Email: {{ data.email }}</p>
    <p>Category: {{ data.category }}</p>
    <p>Car Type: {{ data.carType }}</p>
    <p>Plate Number: {{ data.plateNumber }}</p>
    <p>Address: {{ data?.address }}</p>
    <p>Car Park: {{ data.carPark }}</p>
    <div><button mat-button (click)="closeModal()">Close</button></div>
  </div>
</ng-template>
