.admin-adder-div {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .admin-adder-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}
