#pieChart {
  width: 100;
}

.text-div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.text-div div {
  display: flex;
  align-items: center;
}

.text-div span {
  margin-right: 5px;
}
