<div class="table-cont table-responsive" *ngIf="isLargeScreen">
  <table class="generic-table table table-striped">
    <thead>
      <tr>
        <th *ngIf="showCheckboxColumn" class="headarr">
          <input type="checkbox" (change)="toggleAll($event)" />
        </th>
        <th *ngIf="showSerialNumber" class="headarr">
          S/N <img src="assets/icons/arrowdown.svg" alt="" class="headarrimg" />
        </th>
        <th *ngFor="let column of columns" class="headarr">
          {{ column.label }}
          <!-- <img *ngIf="column.field !== 'actions'" src="assets/icons/arrowdown.svg" alt="" class="headarrimg" /> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableData of paginatedtableDatas; let i = index">
        <td *ngIf="showCheckboxColumn">
          <input type="checkbox" [(ngModel)]="tableData.selected" />
        </td>
        <td *ngIf="showSerialNumber">{{ i + 1 }}</td>
        <td *ngFor="let column of columns">
          <ng-container [ngSwitch]="column.field">
            <ng-container *ngSwitchCase="'firstName'">
              <div class="dataflex">
                <img *ngIf="tableData.image" [src]="tableData.image" alt="worker image" class="generic-image" />
                <div>
                  <span style="color: #101828; font-size: 16px; font-weight: 400">
                    {{ tableData.firstName + " " + tableData.lastName }}
                  </span>
                  <span *ngIf="tableData.image" style="color: #667085; font-size: 14px; font-weight: 400">{{
                    tableData.email }}</span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'category'">{{
              tableData.category
              }}</ng-container>
            <ng-container *ngSwitchCase="'parkName'">{{
              tableData.parkName
              }}</ng-container>
            <ng-container *ngSwitchCase="'location'">{{
              tableData.location
              }}</ng-container>
            <ng-container *ngSwitchCase="'fieldAgentCount'">{{
              tableData.fieldAgentCount
              }}</ng-container>
            <ng-container *ngSwitchCase="'transportCategoriesCovered'">{{
              tableData.transportCategoriesCovered
              }}</ng-container>
            <ng-container *ngSwitchCase="'driverCount'">{{
              tableData.driverCount
              }}</ng-container>
            <ng-container *ngSwitchCase="'email'">{{
              tableData.email
              }}</ng-container>
            <ng-container *ngSwitchCase="'userId'">{{
              tableData.userId
              }}</ng-container>
            <ng-container *ngSwitchCase="'status'">{{
              tableData.status
              }}</ng-container>
            <ng-container *ngSwitchCase="'carType'">{{
              tableData.carType
              }}</ng-container>
            <div class="taxp-col">
              <ng-container *ngSwitchCase="'taxPayers'">{{
                tableData.taxPayers
                }}</ng-container>
            </div>
            <ng-container *ngSwitchCase="'licensePlate'">{{
              tableData.licensePlate
              }}</ng-container>
            <ng-container *ngSwitchCase="'residenceAddress'">{{
              tableData.residenceAddress
              }}</ng-container>
            <ng-container *ngSwitchCase="'carPark'">{{
              tableData.carPark
              }}</ng-container><ng-container *ngSwitchCase="'time'">{{
              tableData.time
              }}</ng-container>
            <ng-container *ngSwitchCase="'username'">{{
              tableData.username
              }}</ng-container>
            <ng-container *ngSwitchCase="'session_id'">{{
              tableData.session_id
              }}</ng-container>
            <ng-container *ngSwitchCase="'role'">{{
              tableData.role
              }}</ng-container><ng-container *ngSwitchCase="'activityType'">{{
              tableData.activityType
              }}</ng-container>
            <ng-container *ngSwitchCase="'details'">{{
              tableData.details
              }}</ng-container>
            <ng-container *ngSwitchCase="'ip_address'">{{
              tableData.ip_address
              }}</ng-container>
            <ng-container *ngSwitchCase="'durations'">{{
              tableData.durations
              }}</ng-container><ng-container *ngSwitchCase="'country'">{{
              tableData.country
              }}</ng-container><ng-container *ngSwitchCase="'isActive'">{{
              tableData.isActive
              }}</ng-container>
            <ng-container *ngSwitchCase="'createdAt'">{{
              tableData.createdAt
              }}</ng-container>
            <ng-container *ngSwitchCase="'updatedAt'">{{
              tableData.updatedAt
              }}</ng-container>
            <ng-container *ngSwitchCase="'phoneNumber'">{{
              tableData.phoneNumber
              }}</ng-container>
            <ng-container *ngSwitchCase="'vehicleYear'">{{
              tableData.vehicleYear
              }}</ng-container><ng-container *ngSwitchCase="'vehicleManufacturer'">{{
              tableData.vehicleManufacturer
              }}</ng-container><ng-container *ngSwitchCase="'gender'">{{
              tableData.gender
              }}</ng-container>
            <ng-container *ngSwitchCase="'amountDue'">{{
              tableData.amountDue
              }}</ng-container>
            <ng-container *ngSwitchCase="'actions'">
              <button mat-button (click)="openDetails(tableData)" class="shadow-sm">
                {{buttonLabel}}
              </button>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls">
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{totalPages}}</span>
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>

<div class="card-view" *ngIf="!isLargeScreen">
  <div *ngFor="let tableData of paginatedtableDatas" class="card">
    <div *ngFor="let column of columns">
      <h5 *ngIf="column.field === 'firstName'">
        {{ tableData.firstName + " " + tableData.lastName }}
      </h5>
      <div *ngIf="column.field !== 'actions' && column.field !== 'firstName'" class="d-inline-flex flex-">
        {{ column.label }}: {{ tableData[column.field] }}
      </div>
      <p></p>
    </div>
    <button mat-button (click)="openDetails(tableData)" class="shadow-sm" *ngIf="hasActionsColumn()">
      {{buttonLabel}}
    </button>
  </div>
</div>