.table-cont {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

.generic-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.generic-table th,
.generic-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.generic-table th {
  /* text-align: center; */
  padding: 18px;
  /* background-color: #eaecf0; */
  position: sticky;
  top: 0;
}

.generic-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.headarr {
  color: #8a92a6;
  font-size: 12px;
  font-weight: 400;
}

.headarrimg {
  margin-left: 3px;
}

.dataflex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.dataflex div {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.generic-table td button {
  padding: 6px 10px;
  border: none;
  background-color: #f0f3fa;
  color: #0644aa;
  font-weight: 500;
  border-radius: 14px;
  cursor: pointer;
}

.generic-table td {
  color: #202224;
  background-color: #ffffff;
  text-align: center;
  font-size: 12px;
}
.taxp-col {
  text-align: center;
}
.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: #d0d5dd 1px solid;
  background-color: #ffffff;
  border-radius: 8px;
  color: #344054;
}
.pagination-controls button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f0f0f0;
  color: #a0a0a0;
}
.pagination-controls span {
  margin: 0 10px;
}
.btn-primary {
  background: #f0f3fa;
}

.table-responsive {
  display: block;
}

.card-view {
  display: none;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
.card button {
  padding: 6px 10px;
  border: none;
  background-color: #f0f3fa;
  color: #0644aa;
  font-weight: 500;
  border-radius: 14px;
  cursor: pointer;
  margin: auto;
}
@media (max-width: 820px) {
  .generic-table th,
  .generic-table td {
    padding: 8px;
    font-size: 12px;
  }

  .dataflex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .dataflex span {
    text-align: center;
  }
  .generic-table td button {
    padding: 4px 8px;
    font-size: 12px;
    text-wrap: nowrap;
  }
  .table-responsive {
    display: none;
  }

  .card-view {
    display: block;
  }
}
