<div>
  <app-home></app-home>
</div>
<app-sidebar [showSidebarAndHeader]="showSidebarAndHeader"></app-sidebar>
<!-- <div class="bg-light w-100">
  <div
    *ngIf="showSidebarAndHeader"
    class="p-2 d-md-none d-flex text-black"
    style="background-color: #0e2954"
  >
    <a
      href="#"
      class="text-white"
      data-bs-toggle="offcanvas"
      data-bs-target="#bdSidebar"
    >
      <i class="fa-solid fa-bars"></i>
    </a>
    <span class="ms-3 text-white">Nsecure Admin</span>
  </div>
  <div class="p-2 p-lg-4">
    <router-outlet></router-outlet>
  </div>
</div> -->
