<div class="container-fluid p-0 d-flex h-100">
  <div
    *ngIf="showSidebarAndHeader"
    id="bdSidebar"
    class="d-flex flex-column p-3 text-black offcanvas-md offcanvas-start"
    tabindex="-1"
    aria-labelledby="bdSidebarLabel"
  >
    <div class="navbar-brand row d-flex align-items-center">
      <!--      <button class="btn-close text-reset d-md-none" style="margin-left: auto;" data-bs-dismiss="bdSidebar"></button> &lt;!&ndash; Close button for mobile &ndash;&gt;-->
      <div class="col-auto">
        <img src="assets/images/logo.png" width="50" height="50" />
      </div>
      <div class="col-auto">
        <p class="fw-bold fs-4" style="color: #0e2954">kenma-uk</p>
      </div>
    </div>

    <hr />
    <ul class="mynav nav nav-pills flex-column mb-auto">
      <li class="nav-item mb-2">
        <a
          data-bs-dismiss="bdSidebar"
          class="nav-link"
          aria-current="page"
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="assets/icons/category.svg" alt="Dashboard" class="icon" />
          <!-- Your custom icon -->
          Dashboard
        </a>
      </li>
      <li class="nav-item mb-2">
        <a
          data-bs-dismiss="bdSidebar"
          class="nav-link"
          aria-current="page"
          routerLink="/user-management"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="assets/icons/user.svg" alt="User Management" class="icon" />
          <!-- Your custom icon -->
          User Management
        </a>
      </li>
      <li class="nav-item mb-2">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/services"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="assets/icons/mouse-circle.svg"
            alt="Services"
            class="icon"
          />
          <!-- Your custom icon -->
          Services
        </a>
      </li>
      <li class="nav-item mb-2">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="/settings"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="assets/icons/setting-2.svg" alt="Settings" class="icon" />
          <!-- Your custom icon -->
          Settings
        </a>
      </li>
    </ul>
    <hr />
    <div class="d-flex">
      <!--      <i class="fa-solid fa-book  me-2"></i>-->
      <span>
        <h6 class="mt-1 mb-0">Kenma UK Admin</h6>
      </span>
    </div>
  </div>

  <div class="bg-light w-100">
    <div
      *ngIf="showSidebarAndHeader"
      class="p-2 d-md-none d-flex text-black"
      style="background-color: #0e2954"
    >
      <a
        href="#"
        class="text-white"
        data-bs-toggle="offcanvas"
        data-bs-target="#bdSidebar"
      >
        <i class="fa-solid fa-bars"></i>
      </a>
      <span class="ms-3 text-white">Kenma UK</span>
    </div>
    <div class="p-2 p-lg-4">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="p-4">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div> -->
  </div>
</div>
