.btn-group .btn {
  border-radius: 20px; /* This will give the buttons a capsule-like shape */
}

.profession-btn-group .profession-btn {
  margin-right: 8px; /* Add some space between buttons */
  border-radius: 20px; /* Capsule shape */
}

.profession-btn-group .profession-btn:not(.active) {
  background-color: transparent;
  color: #0E2954;
  border-color: #0E2954;
}

.profession-btn-group .profession-btn.active {
  background-color: #0E2954;
  border-color: #0E2954;
  color: white;
}

.custom-input-width {
  max-width: 200px; /* Adjust this value to your desired width */
}

.image-upload-wrapper {
  border: 2px dashed #0E2954 !important;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
}

.image-upload-label {
  cursor: pointer;
  display: inline-block; /* This will help contain the background of the icon */
  width: 100%;
}

.image-upload-label .upload-icon {
  background-image: url('/assets/icons/upload.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px; /* Icon size */
  height: 50px; /* Icon size */
  margin: 10px auto;
}

.image-upload-label small {
  display: block;
  margin-top: 8px;
  color: #888;
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

.img-preview {
  display: block; /* Or inline-block, depending on your layout */
  max-width: 100%; /* Responsive image size */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Space above the image */
  border: 1px solid #ddd; /* Optional border */
  border-radius: 4px; /* Rounded corners */
  padding: 5px; /* Some padding */
}

.btn-custom {
  background-color: #0E2954;
  color: white;
  /* Add any additional styling for the button here */
  border: none; /* Removes the border, add if needed */
  padding: 10px 20px;
}
