
<div style="background-color: #f5f6fa">
    <p class="reporting-header" style="color: #202224; font-weight: 700; font-size: 32px">
        Receipts 
    </p>

    <div class="dashboard-first-div">
        <app-receipts-card class="dashboard-first-div-card"
            title="Transport workers"
            [value]="'432'"
            trend=""
            trendText=""
            iconUrl="assets/icons/yellowTrendline"
            iconUrlTwo=""
            >
            
        </app-receipts-card>
        
    </div>

</div>
