.card {
    padding: 8px 8px;
    border-radius: 10px;
    background-color: #fff;
    /* width: 295px; */
    height: 160px;
    border: none;
  }
  
  .card-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 16px;
    color: #202224;
    opacity: 70%;
    margin-top: 10px;
  }
  
  .card-value {
    font-size: 24px;
    font-weight: 700;
    color: #202224;
  }
  
  