<div class="parent-housing">
  <ul class="housing">
    <li class="nav-item"

    >
      <a
        class="nav-link"
        aria-current="page"
        routerLink="edit-profile"
        routerLinkActive="active"
        >Edit Profile</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="preferences"
        routerLinkActive="active"
        >Preferences</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="security"
        routerLinkActive="active"
        >Security</a
      >
    </li>
  </ul>
</div>
