<div>
  <ul>
    <li class="nav-item mb-3">
      <a
        class="nav-link"
        aria-current="page"
        routerLink=""
        routerLinkActive="active"
      >
        Edit Profile
      </a>
    </li>
    <li class="nav-item mb-3">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="/preferences"
        routerLinkActive="active"
      >
        Preferences
      </a>
    </li>
    <li class="nav-item mb-3">
      <a
        class="nav-link"
        aria-current="page"
        routerLink="/security"
        routerLinkActive="active"
      >
        Security
      </a>
    </li>
  </ul>
  <!-- <div class="p-2 p-lg-4">
    <router-outlet></router-outlet>
  </div> -->
</div>
