<div class="card">
  <div class="card-header">
    <div class="card-title">{{ title }}</div>
    <button class="add-button">+</button>
  </div>
  <div class="card-body">
    <div class="enumerator shadow-sm" *ngFor="let enumerator of enumerators">
      <!-- <img
        class="enumerator-image"
        [src]="enumerator.imageUrl"
        alt="{{ enumerator.name }}"
      /> -->
      <div class="enumerator-info">
        <div class="enumerator-name">
          {{ enumerator.firstName + " " + enumerator.lastName }}
        </div>
        <div class="enumerator-park">{{ enumerator.park }}</div>
        <div class="enumerator-park">{{ enumerator.enumeratorId }}</div>
      </div>
      <button class="more-button">⋮</button>
    </div>
  </div>
</div>
