.card {
  padding: 16px;
  border: none !important;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 10px !important;
  background-color: transparent !important;
  border-bottom: none;
}

.card-title {
  font-size: 17px;
  color: #2b3674;
  font-weight: 700;
}

.add-button {
  background-color: #4318ff;
  border: none;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.enumerator {
  display: flex;
  align-items: center;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.enumerator-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.enumerator-info {
  flex-grow: 1;
}

.enumerator-name {
  font-size: 14px;
  color: #212121;
}

.enumerator-park {
  font-size: 12px;
  color: #757575;
}

.more-button {
  background: none;
  border: none;
  color: #757575;
  font-size: 16px;
  cursor: pointer;
}
