.login-form {
  border: none;
  width: 30rem;
}

.login-labels {
  margin-bottom: 6px;
  color: #232323;
}
.login-inputs {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 14px;
  outline: none !important;
  width: 100%;
}

@media (max-width: 576px) {
  .login-form {
    width: auto;
  }
}
