.login-cont {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.login-cont-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 4px;
  width: 50%;
}
.login-cont-div p {
  font-size: 24px;
  font-weight: 500;
  color: #202224;
}
.login-form {
  border: none;
  flex: 1;
  padding: 16px;
  border-radius: 14px;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-labels {
  margin-bottom: 6px;
  color: #232323;
  font-size: 14px;
  font-weight: 500;
}
.login-inputs {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none !important;
  width: 25rem;
}
.form-group {
  margin-top: 20px;
}
.remember-me-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.remember-me-div span {
  display: inline-flex;
  gap: 2px !important;
  align-items: center;
  color: #053688;
}
.remember-me-div span a {
  color: #053688;
  text-decoration: none;
}
@media (max-width: 820px) {
  .login-cont {
    display: flex;
    flex-direction: column;
  }
  .login-cont-div {
    width: 100%;
  }
  .login-form {
    width: 100%;
    height: fit-content;
  }
  .remember-me-div {
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
  .login-inputs {
    width: 24rem;
  }
  .form-group {
    margin-top: 10px;
  }
}
