<div class="login-cont">
  <div class="login-cont-div">
    <img
      src="assets/images/Nsecure.svg"
      alt="An image showing the Nsecure logo"
    />
    <p style="text-align: end; padding-top: 10px">admin</p>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="login-form shadow-lg"
  >
    <h2 style="text-align: center">Login here</h2>
    <div
      *ngIf="loginMessage"
      class="mt-2 alert alert-{{ loginMessageType }}"
      role="alert"
    >
      {{ loginMessage }}
    </div>
    <div class="form-group">
      <label for="email" class="d-block login-labels">Username/Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="login-inputs"
        placeholder="johnDoe/johndoe@gmail.com"
        required
        autocomplete="email"
      />
      <div
        *ngIf="
          loginForm.get('email')!.hasError('required') &&
          loginForm.get('email')!.touched
        "
      >
        Email is required.
      </div>
      <div
        *ngIf="
          loginForm.get('email')!.hasError('email') &&
          loginForm.get('email')!.touched
        "
      >
        Please enter a valid email.
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="d-block login-labels">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="login-inputs"
        placeholder="password100"
        required
        autocomplete="password"
      />
      <div
        *ngIf="
          loginForm.get('password')!.hasError('required') &&
          loginForm.get('password')!.touched
        "
      >
        Password is required.
      </div>
      <div
        *ngIf="
          loginForm.get('password')!.hasError('minlength') &&
          loginForm.get('password')!.touched
        "
      >
        Password must be at least 8 characters long.
      </div>
    </div>
    <div class="remember-me-div">
      <div class="form-group d-flex gap-1 align-items-center">
        <input
          type="checkbox"
          id="rememberMe"
          (change)="onCheckBoxChange($event)"
          [checked]="checkBox"
        />
        <label for="rememberMe">Remember Me</label>
      </div>
      <span
        >Forgot Password?....
        <a aria-current="page" routerLink="/forgot-password"> Reset </a></span
      >
    </div>

    <div class="d-grid">
      <app-button-with-loader
        [buttonType]="'submit'"
        [classText]="'btn btn-custom d-block w-100 '"
        [idleStateText]="'Login'"
        [isProcessing]="loading"
        [workingStateText]="'Logging in...'"
        (buttonClick)="onSubmit()"
      >
      </app-button-with-loader>
      <!--          <button type="submit" class="btn btn-custom" >Login</button>-->
    </div>

    <!--    <div class="d-flex justify-content-center mt-3">-->
    <!--      <app-button-->
    <!--        type="submit"-->
    <!--        label="Login"-->
    <!--        class="btn-primary"-->
    <!--        [disabled]="loginForm.invalid"-->
    <!--      ></app-button>-->
    <!--    </div>-->
  </form>
</div>
