<div style="background-color: #f5f6fa">
  <p class="" style="color: #202224; font-weight: 700; font-size: 32px">
    Contact & Support
  </p>
  <div class="container">
    <button class="hamburger shadow-lg" (click)="toggleContactList()">☰</button>
    <app-contact-list
      class="contact-list shadow-lg"
      [ngClass]="{
        hidden: !isContactListVisible,
        visible: isContactListVisible
      }"
      (contactSelected)="onContactSelected($event)"
    ></app-contact-list>
    <app-chat-window
      class="chat-window shadow-lg"
      [selectedContact]="selectedContact"
    ></app-chat-window>
  </div>
</div>
