.filter-btn {
  background-color: #ffffff;
  border: none;
  color: #344054;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 9px;
  width: 100px;
  height: 45px;
}
.tw-first-div {
  display: flex;
  justify-content: space-between;
}
.search-div {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 9px;
  gap: 3px;
  padding: 0px 14px;
}
.search-input {
  border: none;
  border-radius: 9px;
  outline: none;
  cursor: pointer;
}
.modal-tw-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 16px;
  padding: 12px 30px;
  overflow-y: scroll;
}

.modal-tw-details div {
  display: flex;
  justify-content: center;
}

.modal-tw-details div button {
  padding: 8px 18px;
  border: none;
  background-color: #f0f3fa;
  color: #0644aa;
  font-weight: 500;
  border-radius: 14px;
  cursor: pointer;
}
@media (max-width: 820px) {
  .tw-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .filtandseardiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
}
