<div style="background-color: #f5f6fa">
  <p class="reporting-header" style="color: #202224; font-weight: 700; font-size: 32px">
    Reporting
  </p>
    
  <div class="dashboard-first-div">
    <app-reportinghome-card class="dashboard-first-div-card"
    title="Public Transport Workers"
    [value]="''"
    trend="8.5%"
    trendText="Up from yesterday"
    iconUrl="assets/icons/ptw.svg"
    iconUrlTwo="assets/icons/slopeup.svg">

    </app-reportinghome-card>
   
  </div>
  
  <div class="" style="background-color: #ffffff">
    <app-reporting-nav></app-reporting-nav>
    <router-outlet></router-outlet>
  </div>
</div>

