<nav class="container header">
  <div class="cont-div" *ngIf="showSidebarAndHeader" id="bdSidebar">
    <div class="d-flex align-items-center shadow-sm header-search">
      <img src="assets/icons/search.svg" alt="" />
      <input
        type="text"
        placeholder="Search"
        class="py-2 header-search-input"
      />
    </div>
    <div class="lang-div">
      <img class="text-primary" src="assets/icons/bell.svg" alt="bell Icon" />
      <div class="lang-div-inner">
        <select name="dropdown" id="Dropdown">
          <option value="Spanish">English</option>
          <option value="French">French</option>
          <option value="Portuguese">Portuguese</option>
        </select>
        <div class="d-flex align-items-center gap-3">
          <img src="assets/images/profile.png" alt="" />
          <div class="" style="line-height: 3px">
            <p style="color: #404040; font-size: 14px; font-weight: 700">
              Mavin Dee
            </p>
            <span style="color: #565656; font-size: 12px; font-weight: 600"
              >Admin</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
