<nav class="container header">
  <div class="cont-div">
    <div class="d-flex align-items-center shadow-sm header-search">
      <img src="assets/icons/search.svg" alt="" />
      <input
        type="text"
        placeholder="Search"
        class="py-2 header-search-input"
      />
    </div>
    <div class="lang-div">
      <img class="text-primary" src="assets/icons/bell.svg" alt="bell Icon" />
      <div class="lang-div-inner">
        <select name="dropdown" id="Dropdown">
          <option value="Spanish">English</option>
          <option value="saab">English</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <div class="d-flex align-items-center gap-3">
          <img src="assets/images/profile.png" alt="" />
          <div class="" style="line-height: 2px">
            <p>Mavin Dee</p>
            <span>Admin</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
