<div class="">
  <div>
    <div>
      <nav class="">
        <input type="text" placeholder="Search" />

        <ul>
          <img
            class="text-primary"
            src="/src/assets/images/bell.svg"
            alt="bell Icon"
          />

          <div>
            <select name="dropdown" id="Dropdown">
              <option value="Spanish">English</option>
              <option value="saab">English</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <img src="/src/assets/images/profile.png" alt="" />
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
