@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  padding: 10px !important;
  background-color: #ffffff;

}

.cont-div {
  /*width: 100%;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

.header-search {
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  border: 0.6px #d5d5d5;
  border-radius: 9px;
  gap: 6px;
  padding: 0px 14px;
  height: 38px;
  width: 388px;
  cursor: pointer;
}

.header-search-input {
  border: none;
  border-radius: 9px;
  background-color: #f5f6fa;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.lang-div {
  display: flex;
  gap: 82px;
}

.lang-div img {
  cursor: pointer;
}

.lang-div-inner {
  display: flex;
  gap: 27px;
  align-items: center;
}

.lang-div-inner select {
  color: #646464;
  height: 29px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.lang-div-inner div img {
  width: 44px;
  height: 44px;

}
@media screen and (max-width:768px) {
  .header{
    /*width: 450px;*/
  }
  .header-search{
    display: none;
    /*background: #05cd99;*/
    width: 100px;
    height: 30px;
  }
  .header-search-input{
    width: 60px;
    height: 30px;
  }

  .admin-name {
    font-size: 15px;
  }

  .admin-datail img{
    /*margin-left: 5px;*/
    width: 40px;
  }

.lang-cont{
  margin-left: -15px;
}

}
