.card {
  padding: 8px 8px;
  border-radius: 10px;
  background-color: #fff;
  width: 278px;
  height: 160px;
}

.card-content {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.card-title {
  font-size: 16px;
  color: #202224;
  opacity: 70%;
  margin-top: 10px;
}

.card-value {
  font-size: 24px;
  font-weight: 700;
  color: #202224;
}

.card-trend {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.card-trend img {
  width: 20px;
  margin-right: 4px;
}
.trend-value.green {
  font-size: 16px;
  color: #00b69b;
  margin-right: 4px;
}

.trend-value.red {
  font-size: 16px;
  color: #f93c65;
  margin-right: 4px;
}
.trend-text {
  font-size: 16px;
  font-weight: 600;
  color: #606060;
}
