<div class="card">
  <div class="card-header">
    <div class="card-title">{{ title }}</div>
    <button class="add-button" *ngIf="!icon">+</button>
    <img [src]="icon" alt="" class="" *ngIf="icon" />
  </div>
  <div class="card-body">
    <div class="enumerator shadow-sm">
      <img [src]="image" *ngIf="image" alt="" class="enumerator-image">
      <div class="enumerator-info">
        <div class="enumerator-name">
          {{ name }}
        </div>
        <div class="enumerator-park" *ngIf="number">{{ number }}</div>
        <div class="enumerator-park" *ngIf="value">{{ value }}</div>
      </div>
      <button class="more-button">⋮</button>
    </div>
  </div>
</div>