/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #0e2954; /* Replace with your preferred color */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito Sans", Roboto, "Helvetica Neue", sans-serif;
}
.back {
  color: #1e3aa5;
  font-size: 20px;
  text-decoration: none;
}
