.cs-search {
  background-color: #f5f6fa;
  display: flex;
  align-items: center;
  border: 0.6px #c6d3fe;
  border-radius: 20px;
  gap: 6px;
  padding: 0px 14px;
  height: 40px;
  width: 250px;
  cursor: pointer;
  margin: 0px 16px;
}
.csl-search-input {
  border: none;
  border-radius: 9px;
  background-color: #f5f6fa;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f5f6fa;
  margin: 14px 8px 9px 12px;
  width: 305px;
  height: 74px;
  border-radius: 20px;
}
.contact img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact-info {
  flex: 1;
  margin-top: 14px;
  line-height: 6px;
}

.contact-info h4 {
  color: #081332;
  font-weight: 400;
  font-size: 16px;
}

.contact-info p {
  color: #5e6066;
  font-weight: 400;
  font-size: 12px;
}

.time {
  color: #888;
}
