.circular-progress-chart {
  display: flex;
  align-items: center;
  gap: 80px;
}

.circular-progress-chart svg {
  margin-right: 20px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.legend-label {
  margin-right: 5px;
}
