<div class="px-4 d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-center">
    <a
      class="back"
      aria-current="page"
      [routerLink]="'/management/admin/admins-list'"
      routerLinkActive="active"
    >
      Back
    </a>
    <app-button-with-loader
      [classText]="'btn btn-custom'"
      [buttonType]="'submit'"
      [idleStateText]="'Print'"
      [svgIcon]="'assets/icons/print.svg'"
    ></app-button-with-loader>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    admin image
    <div class="d-flex align-items-center gap-3">
      <a
        style="
          color: #000000cc;
          font-size: 14px;
          display: inline-flex;
          gap: 5px;
          text-decoration: none;
          flex-direction: column;
          align-items: center;
        "
        aria-current="page"
        routerLink=""
        routerLinkActive="active"
      >
        <img
          src="assets/icons/deactivate.svg"
          alt="Deactivation"
          style="width: 30px; height: 30px"
        />
        Deactivate
      </a>
      <a
        style="
          color: #000000cc;
          font-size: 14px;
          display: inline-flex;
          gap: 5px;
          text-decoration: none;
          flex-direction: column;
          align-items: center;
        "
        aria-current="page"
        routerLink="/management/admin/update-admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img
          src="assets/icons/editmang.svg"
          alt="Deactivation"
          style="width: 30px; height: 30px"
        />
        Edit
      </a>
      <a
        style="
          color: #000000cc;
          font-size: 14px;
          display: inline-flex;
          gap: 5px;
          text-decoration: none;
          flex-direction: column;
          align-items: center;
        "
        aria-current="page"
        routerLink=""
        routerLinkActive="active"
      >
        <img
          src="assets/icons/delete.svg"
          alt="Deactivation"
          style="width: 30px; height: 30px"
        />
        Delete
      </a>
    </div>
  </div>
</div>
