<div class="card">
  <div class="card-header">
    <h3>Tax Progress</h3>
  </div>
<div #chart></div>
  <div class="card-footer">
    <div class="legend">
      <div>
        <span class="dot last-month"></span>
        Last Month
      </div>
      <div>
        <span class="dot this-month"></span>
        This Month
      </div>
    </div>
    <div class="amounts">
      <div>
        <span class="amount">$4,087</span>
      </div>
      <div>
        <span class="amount">$5,506</span>
      </div>
    </div>
  </div>
</div>
